<% if @search_text %>
  <% handle_response(call_giphy(@search_text)) %>
  <% if @full_gif %>
    <p><%= img(@full_gif) %></p>
  <% else %>
    <p>No results for search text "<%= @search_text %>".</p>
  <% end %>
  <% if @small_gif && @phone_number %>
    <% if send_gif(@small_gif, @phone_number) %>
      <p>Sent gif related to search text "<%= @search_text %>" to phone number "<%= @phone_number %>".</p>
    <% else %>
      <p>Something went wrong. Try another search, or phone number?</p>
    <% end %>
  <% else %>
    <p>Enter a valid phone number to send a gif as a text message.</p>
  <% end %>
<% else %>
  <p>Please enter valid search text.</p>
<% end %>

<%= erb :form %>
